button {
    margin-right: 3rem;
}

div {
    margin: 3rem;
}

.navbar {
    justify-content: space-between;
}

.navbar-item {
    padding-right: 1rem;
}

/* Sidenav */

mat-sidenav-container {
    height: 20%;
}

mat-sidenav, mat-sidenav-content {
    padding: 2rem;
}

mat-sidenav {
    background-color: tomato;
    width: 200px;
}