<!-- SESSÃO 1: TYPOGRAPHY -->
<div class="mat-display-2">Sessão 1: Typografia</div>
<!-- Normalmente para textos de efeito, o tipo display são as maiores fontes -->
<div class="mat-display-4">Mat Display 4</div>
<div class="mat-display-3">Mat Display 3</div>
<div class="mat-display-2">Mat Display 2</div>
<div class="mat-display-1">Mat Display 1</div>

<!-- Usado para textos normalmente, utilizado para cabeçalhos e subtitulos -->
<div class="mat-headline">This is which h1, mat-headline</div>
<div class="mat-title">This is which h2, mat-title</div>
<div class="mat-subheading-2">sub title, which h3, mat-subheading-2</div>
<div class="mat-subheading-1">sub title, which h4, mat-subheading-1</div>
<!-- Outra opção seria usar as tags tipo h1 e a classe mat-typography -->
<h1 class="mat-typography">This is a heading for h1, with mat-typography</h1>
<h2 class="mat-typography">This is a heading for h2, with mat-typography</h2>
<h3 class="mat-typography">This is a heading for h3, with mat-typography</h3>
<h4 class="mat-typography">This is a heading for h4, with mat-typography</h4>

<!-- Formatação de fontes para o body, o conteúdo em maioria do site -->
<div class="mat-body-2">This is mat-body 2 text</div>
<div class="mat-body-1">This is mat-body 1 text</div>
<div class="mat-caption">This is mat-caption text</div>

<mat-divider></mat-divider>

<!-- SESSÃO 2: BOTÕES -->
<div class="mat-display-2">Sessão 2: Botões</div>

<!-- Principais botões -->
<div>
    <button mat-button>Básico</button>
    <button mat-raised-button>Raised</button>
    <button mat-stroked-button>Stroked</button>
    <button mat-flat-button>Flat</button>
</div>

<!-- Botões menores e específico para ícones -->
<div>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>Mini</button>
    <button mat-icon-button>Icon</button>
</div>

<!-- Colocando cores a partir nos botões -->

<div>
    <div class="mat-title">Botões básicos com cores, mat-button:</div>
    <button mat-button>Basic</button>
    <button color="primary" mat-button>Primary</button>
    <button color="accent" mat-button>Accent</button>
    <button color="warn" mat-button>Warn</button>
</div>

<div>
    <div class="mat-title">Botões com as cores, mat-flat:</div>
    <button mat-flat-button>Basic</button>
    <button color="primary" mat-flat-button>Flat</button>
    <button color="accent" mat-flat-button>Flat</button>
    <button color="warn" mat-flat-button>Flat</button>
</div>

<div>
    <div class="mat-title">Botões com as cores, mat-stroked:</div>
    <button mat-stroked-button>Basic</button>
    <button color="primary" mat-stroked-button>Stroked</button>
    <button color="accent" mat-stroked-button>Stroked</button>
    <button color="warn" mat-stroked-button>Stroked</button>
</div>

<!-- Dica: Para desativar o efeito ao efetuar click no botão, basta inserir disableRipple -->
<div>
    <div class="mat-title">Desabilitando efeito de click, disableRipple:</div>
    <button disableRipple mat-button>Basic</button>
    <button disableRipple color="primary" mat-flat-button>Flat</button>
    <button disableRipple color="primary" mat-stroked-button>Stroked</button>
</div>

<mat-divider></mat-divider>


<!-- SESSÃO 3: Botões Toggle (Button Toggle) -->

<div class="mat-display-2">Sessão 3: Botão Toggle (Button Toggle)</div>

<div>
    <mat-button-toggle>Toggle</mat-button-toggle>
</div>

<!-- Para saber o "state" do botão, se está ativo ou não -->
<div>
    <div class="mat-title">Mostrando boolean do status do botão (checked or not checked):</div>
    <mat-button-toggle #toggleBtn>Toggle</mat-button-toggle>
    {{toggleBtn.checked}}
</div>

<!-- Se adicionar a propriedade "multiple" no group aceita multiplas opções -->
<div>
    <div class="mat-title">Aceitando multiplas opções:</div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div>

<mat-divider></mat-divider>
<!-- SESSÃO 4: ICONS -->
<div class="mat-display-2">Sessão 4: Icons</div>

<div>
    <mat-icon>verified</mat-icon>
    <mat-icon>bookmark</mat-icon>
</div>

<mat-divider></mat-divider>

<!-- SESSÃO 5: BADGES-->
<div class="mat-display-2">Sessão 4: Badges</div>

<div>
    <span matBadge="5">Notificações</span>
</div>

<!-- Posições possíveis das badges -->
<div>
    <div class="mat-title">Posições, matBadgePosition:</div>
    <span matBadge="5" matBadgePosition="below before">Notificações</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below after">Notificações</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="above before">Notificações</span>
</div>

<!-- Alterando tamanho das badges e cores -->
<div>
    <div class="mat-title">Tamanhos, matBadgeSize</div>
    <span matBadge="5" matBadgeSize="small" matBadgeColor="primary">Notificações</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="medium" matBadgeColor="accent">Notificações</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="large" matBadgeColor="warn">Notificações</span>
</div>

<!-- Como inserir um valor na notificação vinda do TS? -->
<div>
    <div class="mat-title">Qtde. vinda do TypeScript, [matBadge]:</div>
    <span [matBadge]="notifications" matBadgeColor="accent" matBadgeSize="small">Notificações</span>
</div>

<!-- Se a notificação for 0, não mostra -->
<div class="mat-title">Se a notificação vinda do TS for 0, não mostra, [matBadgeHidden]:</div>
<div>
    <span [matBadge]="notifications" [matBadgeHidden]="notifications == 0" matBadgeColor="accent" matBadgeSize="small">Notificações</span>
</div>

<mat-divider></mat-divider>

<!-- SESSÃO 5: PROGRESS SPINNER -->
<div class="mat-display-2">Sessão 5: Progress Spinner</div>

<!-- Vendo a barra de progresso Spinner estática -->
<div>
    <div class="mat-title">Progress Spinner com 100% e 50%, value:</div>
    <mat-progress-spinner value="100"></mat-progress-spinner>
    <mat-progress-spinner value="50"></mat-progress-spinner>
</div>

<!-- Com essa tag o Spinner gira infinitamente; com timeout neste caso de 5 seg -->
<div>
    <div class="mat-title">Spinner girando ao evento de click, mat-spinner directive:</div>
    <mat-spinner *ngIf="showSpinner" color="warn"></mat-spinner>
    <button (click)="loadData()" mat-raised-button color="accent">Load Data</button>
</div>

<!-- SESSÃO 6: TOOLBAR -->
<div class="mat-display-2">Sessão 6: Toolbar (nav)</div>

<mat-toolbar color="primary" class="navbar">
    <div>Codevolution</div>
    <div>
        <span class="navbar-item"><a href="#" mat-button>Home</a></span>
        <span class="navbar-item"><a href="#" mat-button>About</a></span>
        <span class="navbar-item"><a href="#" mat-button>Services</a></span>
    </div>
</mat-toolbar>

<!-- Sidenav -->
<div class="mat-title">Sidenav
    <p class="mat-body-1">#sidenav seta uma variavel boolean</p>
    <div class="mode">
        <h2 class="mat-typography">Mode:</h2>
        <p class="mat-body-1">
            mode="over" é o padrão, que esconde o body fora da sidenav;<br>
            mode="push" bem parecido com o over; só é possível navegar no sidenav;<br>
            mode="side" abre p o lado sem deixar o body em segundo plano, possível navegar nas duas partes;
        </p>
    </div>
    <div class="functions-sidenav">
        <h2 class="mat-typography">Funções do #sidenav:</h2>
        <p class="mat-body-1">
            (click)="sidenav.open()"
            (click)="sidenav.false()"
            (click)="sidenav.toggle()"
        </p>
    </div>
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">Sidenav</mat-sidenav>
    <mat-sidenav-content>
        <button (click)="sidenav.toggle()" mat-icon-button><mat-icon color="accent">menu</mat-icon></button>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- SESSÃO 7: MENUS -->

<div class="mat-display-2">Sessão 7: Menu</div>

<!-- Menu 1 -->
<button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
<mat-menu #appMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Frontend</button>
    <button mat-menu-item>Backend</button>
</mat-menu>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
</mat-menu>

<!-- Menu 2 -->
<mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Logout {{ name }}</button>
    </ng-template>
</mat-menu>

<button 
    mat-stroked-button
    [matMenuTriggerData]="{ name: 'Bitbucket' }"
    [matMenuTriggerFor]="lazyMenu">Bitbucket
</button>
<button
    mat-stroked-button
    [matMenuTriggerData]="{ name: 'Jira' }"
    [matMenuTriggerFor]="lazyMenu">Jira
</button>

<!-- SESSÃO 8: LIST -->
<div class="mat-display-2">Sessão 8: List</div>

<div>
    <h2 class="mat-typography">Dense:</h2>
    <p class="mat-body-1">Inserir <b>dense</b> para listas com textos muito grandes, ela diminui a fonte;</p>
</div>

<!-- Lista 1 -->
<mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-nav-list>
    <a mat-list-item>Home</a>
    <a mat-list-item>About</a>
    <a mat-list-item>Contact</a>
</mat-nav-list>

<!-- Lista 2 -->

<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>phone</mat-icon>
        <h3 matLine>Heading</h3>
        <p matLine>Line</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading 2</h3>
        <p matLine>Line 2</p>
    </mat-list-item>
</mat-list>